
<section class="product-page">
<div class="about-product">
<div class="carousel">
<img class="product-image" src="image1.jpg" alt="Product Image 1" />
<img class="product-image" src="image2.jpg" alt="Product Image 2" />
<img class="product-image" src="image3.jpg" alt="Product Image 3" />
</div>
<div class="product-title">
<h1 class="title">Product</
h1>
</div>
<div class="description-container">
<p>
this os a l9ng product descriprion
</p>
</div>
</div>
<button class="btn btn-primary" type="submit">Add to Cart</button>
</section>