<!DOCTYPE html>
<html class="light-theme">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="css/layout/mainLayout.css" />
<link rel="stylesheet" href="css/index.css" />
<link rel="stylesheet" href="css/partials/header.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/partials/product-page.css" />
<link rel="stylesheet" href="css/partials/profuct-card.css" type="text/css" media="all" />
<style type="text/css" media="all">
@import 'css/themes.css'
</style>
<title>{{.title}}</title>
</head>
<body>
{{embed}}
<script src="lib/htmx.min.js"></script>
<script src="js/header.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>